:root {
  --black-color: #1b2631;
  --purple-color: #9999ff;
  --gray-color: #d5dbdb;
  --orange-color: #ffa62b;
  margin-top: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-color);
}

h1 {
  font-family: "Victor Mono", monospace;
  color: var(--purple-color);
  font-weight: 500;
  font-size: 70px;
  margin: 0px;
}

h2 {
  font-family: "Victor Mono", monospace;
  color: var(--purple-color);
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
  margin-right: 80px;
}

h3 {
  font-family: "Rubik", sans-serif;
  color: var(--gray-color);
  font-weight: 500;
  font-size: 24px;
}

p {
  color: var(--purple-color);
  font-family: "Victor Mono", monospace;
  font-weight: 400;
  font-size: 20px;
}

button {
  background-color: transparent;
  border: none;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: square;
  font-size: 14px;
  list-style-image: url(./images/listimage.png);
  margin-bottom: 10px;
}

.resume-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--gray-color);
  background-color: none;
  color: var(--gray-color);
  font-family: "Rubik", sans-serif;
  transition-duration: 0.4s;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 7px;
}

.resume-button:hover {
  background-color: var(--gray-color);
  color: var(--black-color);
}

ul {
  font-family: "Victor Mono", monospace;
  color: var(--gray-color);
  font-weight: 500;
  font-size: 18px;
  list-style-type: disc;
}

/* flexbox */

.horizontal-split {
  display: flex;
}

.horizontal-space-between {
  display: flex;
  justify-content: space-between;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image {
  text-align: center;
  display: block;
  margin: auto;
}

.header-box {
  width: max-content;
  height: max-content;
}

.vertical-split {
  display: flex;
  flex-direction: column;
}

/* text */

.subtitle {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 60px;
  font-family: "Rubik", sans-serif;
}

.socials {
  font-family: "Rubik", sans-serif;
  color: var(--gray-color);
  font-weight: 600;
  font-size: 45px;
}

.headers {
  color: var(--gray-color);
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}

.gray-text {
  color: var(--gray-color);
}

/* navbar */

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin-top: 2%;
  margin-right: 10%;
  font-family: "Rubik", sans-serif;
}

/* images */

.image-border {
  border-radius: 10px;
}

.image-box {
  position: absolute;
  border-radius: 10px;
  background-color: var(--purple-color);
  width: 50%;
  height: 50%;
}

/* animations */
.type-word-out {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid var(--gray-color);
  width: 0;
  animation: typing 2s steps(30, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* activities */
.activities-hide {
  display: none;
}

.activities-show {
  display: block;
}

.activities-box {
  width: 50%;
  height: 40vh;
  display: flex;
  align-items: center;
}

.activities-location {
  font-family: "Rubik", sans-serif;
  color: var(--orange-color);
  font-weight: 500;
  font-size: 24px;
}

.activities-date {
  font-family: "Rubik", sans-serif;
  color: var(--gray-color);
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.activities-button {
  width: max-content;
  height: max-content;
  border: 2px solid var(--gray-color);
  color: var(--gray-color);
  font-size: 18px;
  border-radius: 10px;
  transition-duration: 0.5s;
  margin: 5px 0px;
  padding: 10px 10px;
}

.activities-button-focus {
  width: max-content;
  height: max-content;
  border-radius: 10px;
  transition-duration: 0.5s;
  margin: 5px 0px;
  font-size: 18px;
  padding: 10px 10px;
  background-color: var(--gray-color);
  color: var(--black-color);
}

.activities-button:hover {
  background-color: var(--gray-color);
  color: var(--black-color);
}

/* gaps and margins */
.left-margin {
  margin-left: 10%;
}

.top-margin {
  margin-top: 10%;
}

.top-margin-small {
  margin-top: 5%;
}

.right-margin {
  margin-right: 10%;
}

.right-margin-small {
  margin-right: 2%;
}

.bottom-margin {
  margin-bottom: 10%;
}
