:root {
  --black-color: #1b2631;
  --purple-color: #9999ff;
  --gray-color: #d5dbdb;
  margin-top: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-color);
}

h1 {
  font-family: "Victor Mono", monospace;
  color: var(--purple-color);
  font-weight: 500;
  font-size: 70px;
  margin: 0px;
}

h2 {
  font-family: "Victor Mono", monospace;
  color: var(--purple-color);
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
  margin-right: 80px;
}

p {
  color: var(--purple-color);
  font-family: "Victor Mono", monospace;
  font-weight: 400;
  font-size: 20px;
}

button {
  background-color: transparent;
  border: none;
  font-family: "Rubik", sans-serif;
}

ul {
  font-family: "Victor Mono", monospace;
  color: var(--gray-color);
  font-weight: 500;
  font-size: 18px;
  list-style-type: disc;
}

/* flexbox */

.horizontal-split {
  display: flex;
}

.horizontal-space-between {
  display: flex;
  justify-content: space-between;
}

.center-flex {
  display: flex;
  align-items: center;
}

.center-image {
  text-align: center;
  display: block;
  margin: auto;
}

.header-box {
  width: max-content;
  height: max-content;
}

/* text */

.subtitle {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 60px;
  font-family: "Rubik", sans-serif;
}

.socials {
  font-family: "Rubik", sans-serif;
  color: var(--gray-color);
  font-weight: 600;
  font-size: 45px;
}

.headers {
  color: var(--gray-color);
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}

.gray-text {
  color: var(--gray-color);
}

/* navbar */

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar-headers {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 2%;
  margin-right: 10%;
  font-family: "Rubik", sans-serif;
}

/* images */

.image-border {
  border-radius: 10px;
}

.image-box {
  position: absolute;
  border-radius: 10px;
  background-color: var(--purple-color);
  width: 50%;
  height: 50%;
}

/* animations */
.type-word-out {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid var(--gray-color);
  width: 0;
  animation: typing 2s steps(30, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* activities */
.circle {
  width: 10px;
  border-radius: 50%;
  background-color: none;
  border: 5px solid var(--gray-color);
}

/* gaps and margins */
.left-margin {
  margin-left: 10%;
}

.top-margin {
  margin-top: 10%;
}

.top-margin-small {
  margin-top: 5%;
}

.right-margin {
  margin-right: 10%;
}

.bottom-margin {
  margin-bottom: 10%;
}
